* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.foto-logo {
  width: 6rem;
}
/* este es home*/

header {
  min-height: 8vh;
}
main {
  background-color: #adb5bd;
  min-height: 84vh;
}

.seccion1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}
.imgcarousel {
  width: 100vw;
  height: 20vh;
  object-fit: cover;
}

.checkbox-individual {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  gap: 4px;
}

.ckeckbox {
  display: flex;
  flex-direction: row;
}
footer {
  min-height: 8vh;
}

table th,tr,td{
  height: 2rem; 
}
.th-events{
  background-color: #ff006e !important;
}
.th-upcoming{
  background-color: #ff006e !important;
}
.th-past{
  background-color: #ff006e !important;
}
/*este es upcoming events */

/* aca comienza responsive 

este es home*/
@media (min-width: 320px) and (max-width: 767px) {
  #seccion-inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .ckeckbox {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
